/logpilot-rest-server/logs
/logpilot-rest-server/node_modules
/logpilot-rest-server/package-lock.json

/logpilot-grpc-server/logs
/logpilot-grpc-server/node_modules
/logpilot-grpc-server/package-lock.json